<div class="main">
	<div class="boxed-group">
<h3>New post</h3>
<div class="boxed-group-inner clearfix">

<%= render 'form' %>

<div class="foot">
	<label>
<%= link_to 'Back', posts_path %>
</label>
</div>
</div>
</div>
</div>